.aside {
  position: fixed;
  top: 54px;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: #fff;

  .commands {
    color: #fff;
    background-color: #3c485d;
  }

  #map {
    height: 200px;
  }
}
